<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="clipboard-outline"></ion-icon>
            <!-- en el name de este atributo, se puede personalizar el ícono del botón. -->
            <ion-label>Pendientes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="checkmark-done-circle-outline"></ion-icon>
            <ion-label>Terminados</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>