<ion-list>
    <ion-item-sliding *ngFor="let lista of deseosService.listas | filtroCompletado:terminada" detail>
        <ion-item (click)="listaSeleccionada ( lista )">
            <ion-label>{{ lista.titulo }}</ion-label>
            <ion-note slot="end" color="red">Elementos: {{ lista.items.length }}</ion-note>
        </ion-item>

        <ion-item-options side="end">
            <ion-item-option (click)="borrarLista( lista )" color="red">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>
        <ion-item-options side="start">
            <ion-item-option (click)="editarNombreLista( lista )" color="medium">
                <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>