<ion-header class="ion-no-border">
    <ion-toolbar color="red">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" color="dark"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ lista.titulo }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label position="floating" color="dark">Nuevo item</ion-label>
            <!-- Paréntesis porque emite un evento. Corchetes porque escucha un evento. Así se mantiene una relación entre lo que el usuario pone en el input y el valor de la variable nombreItem en agregar.page.ts. -->
            <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header *ngIf="lista.items.length > 0">
            <ion-label>Tareas por hacer</ion-label>
        </ion-list-header>

        <ion-item-sliding *ngFor="let item of lista.items; let i = index" class="animated fadeInDown">
            <ion-item>
                <ion-checkbox slot="start" color="danger" [(ngModel)]="item.completado" (ionChange)="cambioCheck( item )"></ion-checkbox>
                <ion-label color="dark">{{ item.desc }}</ion-label>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option (click)="borrar( i )" color="red">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>