<ion-header [translucent]="true">
    <ion-toolbar color="red">
        <ion-title>
            Terminados
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <app-listas [terminada]="true"></app-listas>
</ion-content>