<ion-header class="ion-no-border" [translucent]="true">
    <!-- La clase ion-no-border quita el borde de la barra superior (cuando lo tenga) -->
    <ion-toolbar color="red">
        <!-- <ion-toolbar> -->
        <ion-title>
            Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <app-listas [terminada]="false"></app-listas>

    <!-- El siguiente bloque de código se movió a listas.component.html para merjorar la funcionalidad. -->
    <!-- <ion-list>
        <ion-item *ngFor="let lista of deseosServie.listas" detail (click)="listaSeleccionada ( lista )">
            <ion-label>{{ lista.titulo }}</ion-label>
            <ion-note slot="end" color="red">{{ lista.items.length }} pendientes</ion-note>
        </ion-item>
    </ion-list> -->

    <!-- Para que el botón pueda redireccionar, hay que modificar el archivo tab.page.ts; se agrega el router de Angular para poder navegar por URL. -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="red" (click)="agregarLista()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>